.user_info {
    display: grid;
    grid-template-columns: 160px 1fr;
}

.user_avatar > img {
    border-radius: 50%;
    width: 80px;
}
.user_avatar{
    padding: 20px;
}

.user_photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 20px;
    max-width: 900px;
}
.pagesN{
    padding: 15px;
}
.u_name{
    font-size: 22px;
    font-weight: 600;
}
.u_status{
    font-size: 18px;
    font-style: italic;
    color: #5c5c5c;
    margin: -10px 0px;
}


.user_photo_img{
    width: 200px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
@media(max-width:1100px){
    .user_photos{
        padding: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .user_photo_img{
        width: 350px;
        max-width: 100%;
    }
}