.posts_wrapper{
    max-width: 900px;
    margin: 0 auto;
}
.pop_post{
    position: absolute;
    top: 10%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 5px 1px 10px;
    border-radius: 6px;
    background: #fff;
}
