.sidebar {
  grid-area: side;
  background: #f9f9f9;
  height: 130vh;
}
.mob_button_wrapper {
  display: none;
}
.mob_btn {
  color: #fff;
  border: none;
  font-size: 30px;
  margin-top: -8px;
  margin-left: 15px;
}
@media (max-width: 1100px) {
  .sidebar {
    /* display: none; */
    margin-left: -450px;
    animation: hideSide;
    transition: all 0.2s ease-out;
  }
  .mob_button_wrapper {
    display: block;
  }
  .mob_sidebar {
    z-index: 999;
    background: #f9f9f9;
    overflow: scroll;
    padding-top: 50px;
    height: 130vh;
    animation: sidebar;
    transition: all 0.2s ease-out;
  }
  .mob_button_wrapper {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 9999;
  }
  @keyframes sidebar {
    from {
      transform: translateX(-350px);
    }

    to {
      transform: translateX(0px);
    }
  }
  @keyframes hideSide {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(50px);
    }

    100% {
      transform: translateX(-350px);
    }
  }

  .menu_wrapper {
    position: fixed;
    z-index: 88;
    top: 0;
  }
}
.sidebarBtn {
  left: 350px;
  top: 0.7%;
  position: absolute;
  z-index: 999;
  border: none;
  font-size: 22px;
  color: rgb(236, 90, 90);
}
@media (min-width: 1100px) {
  .sidebarBtn {
    display: none;
  }
}
@media (max-width: 415px) {
  .mob_btn {
    color: #000;
  }
}
